<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCijXXUQRj7GQMR-7ZeicrhgS3j0VG7m_E</string>
	<key>GCM_SENDER_ID</key>
	<string>961519639955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rentapp</string>
	<key>PROJECT_ID</key>
	<string>rentapp-fg-x</string>
	<key>STORAGE_BUCKET</key>
	<string>rentapp-fg-x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961519639955:ios:4e1e6305b65a216f7f1c66</string>
</dict>
</plist>